$dark: var(--black-color);
$dark-gray: #3a3a3a;
$light-gray: #8a8a8a;
$text-color: var(--primary-color);
$bg-dark: #363a52;
$light: #f3f3f3;
$error: #d34059;
$success: #3de295;
$warning: #ff7d04;

$white: var(--white-color);

$serif: Georgia, 'Times New Roman', Times, serif;
$sans-serif: Verdana, sans-serif;

$navbar-height: 100px;
$footer-height: 100px;

@mixin round-border($radius: 15px) {
  border-radius: $radius;
}

@mixin box-shadow($scale: 3px, $color: #31313150) {
  box-shadow: $scale $scale $scale $color;
}

@mixin box-light-shadow($color: #464660ee) {
  box-shadow: 0 16px 20px -20px $color;
}

@mixin mx($margin: auto) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin my($margin: auto) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin px($padding: auto) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin py($padding: auto) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin button(
  $px: 2rem,
  $py: 0.5rem,
  $bg: $text-color,
  $color: white,
  $bg-hover: $bg-dark,
  $font-size: large,
  $radius: 15px,
  $shadow: 3px
) {
  @include px($px);
  @include py($py);
  @include box-shadow($scale: $shadow);
  font-size: $font-size;

  background-color: $bg;
  border: none;
  color: $color;
  transition-duration: 0.3s;
  border-radius: $radius;

  cursor: pointer;

  &:hover {
    background-color: $bg-hover;
  }
}

@mixin flex-display($dir: column, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

@mixin gradient-bg() {
  background-color: $white;
}

.button {
  @include button;
}
