@import './global_vars';

.page {
  min-height: 100vh;
  width: 100vw;
}

main,
.page-main {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  @include flex-display($jc: flex-start);
  overflow-y: scroll;
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.warning {
  color: $warning;
}
