@import "@fontsource/zcool-qingke-huangyou"; // Defaults to weight 400.

.signup-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    #c7cfff,
    #ffe7e7,
    #fff2de,
    #c7cfff
  );
}

.signup-page-title {
  font-family: "ZCOOL QingKe HuangYou";
  color: #464660;
  margin-bottom: 1.5em;
  font-size: 2.5rem;
}

.link-to-login {
  color: #464660;
  opacity: 0.75;
}
