@import '../../styles/global_vars';

.home-page {
  .home-main {
    width: 100%;
    height: calc(100vh - #{$navbar-height} - #{$footer-height});
    @include flex-display($jc: 'flex-start');
    overflow-y: scroll;

    .dream-feed {
      display: grid;
      column-count: 2;
      grid-template-columns: 50% 50%;

      margin: 0;
    }

    .dream {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}
