@import '../../styles/global_vars';

.home-page {
  .home-main {
    .dream-feed {
      display: grid;
      column-count: 2;
      grid-template-columns: 50% 50%;

      margin: 0;
    }

    .dream {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}
