@import '../../styles/global_vars';

.signup-form {
  width: 70vw;
  max-width: 400px;

  input {
    width: 100%;

    box-sizing: border-box;
    margin-bottom: 1.5em;
    padding: 1rem 1.8rem 1rem 1.8rem;

    background-color: #ffffff;

    @include round-border;
    border: none;
    outline: none;

    @include box-light-shadow;
  }

  .error-message {
    @include mx;
    text-align: center;
  }

  .submit-btn {
    margin-top: 2rem;
    background-color: #464660;
    color: white;
    border: none;
    box-sizing: border-box;
    padding: 1.2rem;
    width: 100%;
    cursor: pointer;

    @include round-border;
    @include box-light-shadow($color: #15151d);
  }
}
